<ion-view view-title="Playlists">
  <ion-content  style="padding: 0 3em;">
        <div style="text-align:center; margin-top:3em">
            <button  type="button" ng-click="login('facebook')" style="background: darkblue; border:0; color:white; padding: 0.8em;">Facebook</button>
        </div>
        <div style="text-align:center; margin-top:3em">
            <div ng-if="! Veridu.profile.user">Not signed</div>
            <button type="button" style="color:white; background-color:darkred; border:0; padding:0.8em;" ng-click="Veridu.logout()" >Logout</button>
        </div>


        <div ng-if="Veridu.profile.user" style="text-align:center;">
            <img ng-src="{{Veridu.profile.user.picture}}" alt="" />
            <h3>{{Veridu.profile.user.name.value}} <small>{{Veridu.profile.user.name.score * 100 | number : 0}}%</small></h3>

            <br>
            <h2>Profile endpoint:</h2>
            <pre style="background: #f1f1f1; text-align:left; padding: 1.5em; font-size: 0.9em;">{{(Veridu.profile | json)}}</pre>
        </div>

  </ion-content>
</ion-view>
